*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
    color: #fff;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: black;
    
}
#nav{
    padding: 10px 20px;
    color: white;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
#nav-part2{
    display: flex;
    align-items: center;
    justify-content:center ;
    gap: 50px;
    
}
#nav h3{
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 500;
}
#main h1 {
    font-size: 130px;
    text-transform: uppercase;
    font-weight: 200;
    line-height: 120px;
    /* background-color: red; */
    width: 80%;
    position: relative;
    z-index: 99;
    margin-left: 20%;
}
#main h1:nth-child(2){
    margin-top: 100px;
}
#main h1:nth-child(3){
    /* margin-top: 100px; */
    text-align: center
}
#main h1:nth-child(4){
    text-align: center;
}
img{
  height: 400px;
  /* width: %; */
  top: 10%;
  left: 40%;
  position: absolute;
}
#img1{
    rotate: 20deg;
}
#img2{
    rotate: 10deg;
}